{% extends 'etats/index.html' %}

{% block title %}Crime{% endblock %}

{% block index %}"{% endblock %}
{% block crime %} active" aria-current="page"{% endblock %}

{% block instructions %}
<div class="categories">
    <div class="howto">
        <p>Use the tabs to navigate between categories</p>
        <p>Select states with checkboxes and save them to Favorites with the Add button</p>
        <p>Sort by selecting Crime Rate (per 100,000)</p>
    </div>
</div>
{% endblock %}

{% block for %}
<div id="app">
    <table>
        <tr>
            <th>Select</th>
            <th>Rank</th>
            <th>State</th>
            <th @click="sortCrimeList()">Crime Rate (per 100,000)</th>
        </tr>
        <tr v-for="(state, index) in listItems">
            <td><input type="checkbox" v-model="selectedStates" :value="state"></td>
            <td>[[ state.crime_rank ]]</td>
            <td>[[ state.state_name ]]</td>
            <td>[[ state.crime_rate ]]</td>
        </tr>
    </table>
    <button @click="addSelectedStates('crimeList')">Add Selected States</button>
</div>
{% endblock %}