{% extends 'etats/index.html' %}

{% block title %}Housing{% endblock %}

{% block index %}"{% endblock %}
{% block housing %} active" aria-current="page"{% endblock %}

{% block input %}{% endblock %}

{% block for %}
<div id="app">
    <table>
        <tr>
            <th>Select</th>
            <th>State</th>
            <th @click="sortHousingList()">Median Housing Value</th>
        </tr>
        <tr v-for="(state, index) in listItems">
            <td><input type="checkbox" v-model="selectedStates" :value="state"></td>
            <td>[[ state.state_name ]]</td>
            <td>$[[ state.median_home_value ]]</td>
        </tr>
    </table>
    <button @click="addSelectedStates('housingList')">Add Selected States</button>
</div>
{% endblock %}
