{% extends 'etats/index.html' %}

{% block title %}Housing{% endblock %}

{% block home %}"{% endblock %}
{% block housing %} active" aria-current="page"{% endblock %}

{% block input %}{% endblock %}

{% block for %}
<div id="app">
    <table>
        <tr>
            <th>Add</th>
            <th>State</th>
            <th>Median Housing Value</th>
        </tr>
        <tr v-for="(state, index) in listItems">
            <td><input id="checkbox" type="checkbox" v-on:click="addHousingItem(state)"></td>
            <td>[[ state.state_name ]]</td>
            <td>$[[ state.median_home_value ]]</td>
        </tr>
    </table>
</div>
{% endblock %}
