{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'etats/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>   <!-- Bootstrap JS -->
    <script src="{% static 'etats/vue.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'static/styles.css' %}"> -->
    <title>{% block title %}états.{% endblock %}</title>
</head>
<body>
    <h1><strong><em>états.</em></strong></h1>
    <img style="width: 100%;" src="{% static 'etats/gray-fam-leaving.jpg' %}" alt="Father travelling with kids">

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link{% block home %} active" aria-current="page"{% endblock %} href="{% url 'etats:index' %}">Search by State</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% block taxes %}"{% endblock %} href="{% url 'etats:taxes' %}">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% block politics %}"{% endblock %} href="{% url 'etats:politics' %}">Politics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% block housing %}"{% endblock %} href="{% url 'etats:housing' %}">Housing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% block crime %}"{% endblock %} href="{% url 'etats:crime' %}">Crime</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% block weighted %}"{% endblock %} href="{% url 'etats:weighted' %}">Weighted List</a>
        </li>
      </ul>

      {% block input %}
      <div id="app">
        <form @submit.prevent="onSubmit">
          <select v-model="userItem">
            <option value="">Select a State</option>
            <!-- <option disabled hidden>Select a State</option> -->
            <option v-for="state in listItems" :value="state.state_name">[[ state.state_name ]]</option>
          </select>
          <input type="submit" value="Search"><br><br>
        </form>

        <template v-if="userItem">
          <table v-show="active">
            <tr>
                <th>Add</th>
                <th>State</th>
                <th>Effective Tax Burden</th>
                <th>Political Affiliation</th>
                <th>Median Home Value</th>
                <th>Crime Rate (per 100,000)</th>
            </tr>
            <tr v-for="state in listItems" v-if="state.state_name === userItem">
                <td><input id="checkbox" type="checkbox" value="state" v-on:click="addItem(state)"></td>
                <td>[[ state.state_name ]]</td>
                <td>[[ state.tax_rate ]]%</td>
                <td>[[ state.political_affiliation ]]</td>
                <td>$[[ state.median_home_value ]]</td>
                <td>[[ state.crime_rate ]]</td>
            </tr>
          </table>
        </template>        
      </div>
      {% endblock %}
      {% block for %}
        <!-- {% for state in state_object %}
        {{ state }}<br><br>
        {% endfor %} -->
      {% endblock %}<br>
</body>
</html>
        






        <!-- <template v-if="'state.state_name' === ''">
        <table v-show="active">
          <tr>
              <th>Add</th>
              <th>State</th>
              <th>Effective Tax Burden</th>
              <th>Political Affiliation</th>
              <th>Median Home Value</th>
              <th>Crime Rate (per 100,000)</th>
          </tr>
          <tr v-for="(state, index) in listItems"> -->
            <!-- <template v-show="state.state_name == 'userInput'"> -->
              <!-- <td><input id="checkbox" type="checkbox" value="userItem" v-on:click="addItem(state)"></td>
              <td>[[ state.state_name ]]</td>
              <td>[[ state.tax_rate ]]%</td>
              <td>[[ state.political_affiliation ]]</td>
              <td>$[[ state.median_home_value ]]</td>
              <td>[[ state.crime_rate ]]</td> -->
              <!-- <td><p v-bind:class="(item)">[[ item.state_name ]]</p></td> -->
              <!-- <td><img src="css/delete-button.png" alt="Delete Button" @click="deleteItem(index)"></td> -->
            <!-- </tr>
          </table>
        </template> -->
