{% extends 'etats/index.html' %}

{% block title %}Politics{% endblock %}

{% block index %}"{% endblock %}
{% block politics %} active" aria-current="page"{% endblock %}

{% block instructions %}
<p>Use the tabs to navigate between categories.</p>
<p>Use the checkboxes to select states and the add button to save them to your favorites.</p>
<p>You can sort this list alphabetically by clicking "Political Affiliation."</p>
<p>Once you have reviewed the categories and saved your favorites, you can see your chosen states in the favorites tab.</p>
{% endblock %}

{% block for %}
<div id="app">
    <table>
        <tr>
            <th>Select</th>
            <th>State</th>
            <th @click="sortPoliticsList()">Political Affiliation</th>
        </tr>
        <tr v-for="(state, index) in listItems">
            <td><input type="checkbox" v-model="selectedStates" :value="state"></td>
            <td>[[ state.state_name ]]</td>
            <td>[[ state.political_affiliation ]]</td>
        </tr>
    </table>
    <button @click="addSelectedStates('politicsList')">Add Selected States</button>
    <!-- <button @click="addSelectedStates('housingList')">Add Selected States</button> -->
    <!-- <button @click="addSelectedStates('crimeList')">Add Selected States</button> -->
</div>
{% endblock %}