{% extends 'etats/index.html' %}

{% load static %}

{% block title %}Politics{% endblock %}

{% block index %}"{% endblock %}
{% block politics %} active" aria-current="page"{% endblock %}

{% block instructions %}
<div class="categories">
    <div class="howto">
        <div class="howto-list">
            <h2>How to Use the Politics Page</h2>
              <ul>
                  <li>Sort alphabetically by selecting Political Affiliation</li>
                  <li>Use the tabs to navigate between categories</li>
                  <li>Select states with checkboxes and save them to Favorites with the Add button</li>
              </ul>
        </div>
        <img class="howto-img" src="{% static 'etats/you_are_here.jpeg' %}" alt="You are here in neon lights">
    </div>
</div>
{% endblock %}

{% block for %}
<div id="app">
    <table>
        <tr>
            <th>Select</th>
            <th>State</th>
            <th @click="sortPoliticsList()">Political Affiliation</th>
        </tr>
        <tr v-for="(state, index) in listItems">
            <td><input type="checkbox" v-model="selectedStates" :value="state"></td>
            <td>[[ state.state_name ]]</td>
            <td>[[ state.political_affiliation ]]</td>
        </tr>
    </table><br>
    <button class="btn btn-primary" @click="addSelectedStates('politicsList')">Add Selected States</button><br><br>
</div>
{% endblock %}