{% extends 'etats/index.html' %}

{% block title %}State Summary{% endblock %}

{% block index %}"{% endblock %}
{% block summary %} active" aria-current="page"{% endblock %}

{% block instructions %}
<div class="categories">
  <div class="site-use">
    <p>Use the tabs to navigate between categories</p>
    <p>Here you may search all categories for individual states</p>
  </div>
</div>
{% endblock %}

{% block for %}
<div id="app">
  <form @submit.prevent="onSubmit">
    <select v-model="userItem">
      <option value="">Select a State</option>
      <option v-for="state in listItems" :value="state.state_name">[[ state.state_name ]]</option>
    </select>
    <input type="submit" value="Search"><br><br>
  </form>

  <template v-if="userItem">
    <table v-show="active">
      <tr>
          <th>State</th>
          <th>Effective Tax Burden</th>
          <th>Political Affiliation</th>
          <th>Median Home Value</th>
          <th>Crime Rate (per 100,000)</th>
      </tr>
      <tr v-for="state in listItems" v-if="state.state_name === userItem">
          <td>[[ state.state_name ]]</td>
          <td>[[ state.tax_rate ]]%</td>
          <td>[[ state.political_affiliation ]]</td>
          <td>$[[ state.median_home_value ]]</td>
          <td>[[ state.crime_rate ]]</td>
      </tr>
    </table>
  </template>        
</div>
{% endblock %}