{% extends 'etats/index.html' %}

{% block title %}Taxes{% endblock %}

{% block home %}"{% endblock %}
{% block taxes %} active" aria-current="page"{% endblock %}

{% block input %}{% endblock %}

{% block for %}
<div id="app">
    <table>
        <tr>
            <th>Select</th>
            <th>Rank</th>
            <th>State</th>
            <th @click="sortTaxList()">Effective Tax Burden</th>
        </tr>
        <tr v-for="(state, index) in listItems">
            <td><input type="checkbox" v-model="selectedStates" :value="state"></td>
            <td>[[ state.tax_rank ]]</td>
            <td>[[ state.state_name ]]</td>
            <td>[[ state.tax_rate ]]%</td>
        </tr>
    </table>
    <button @click="addSelectedStates('taxList')">Add Selected States</button>
</div>
{% endblock %}

