{% extends 'etats/index.html' %}

{% block title %}Taxes{% endblock %}

{% block home %}"{% endblock %}
{% block taxes %} active" aria-current="page"{% endblock %}

<!-- {% block form %}{% url 'etats:taxes' %}{% endblock %} -->
{% block input %}{% endblock %}

{% block for %}

<div id="app">
    <button type="button" @click="getStateObject()">Click here</button>
    <table>
        <tr>
            <th>Add</th>
            <th>Rank</th>
            <th>State</th>
            <th>Effective Tax Burden</th>
        </tr>
        <!-- {% for state in state_object %}
        <tr>
            <td>{{ state.tax_rank }}</td>
            <td>{{ state.state_name }}</td>
            <td>{{ state.tax_rate }}%</td>
        {% endfor %}</tr>
    </table>
</div> -->[[ listItems ]]
        <tr v-for="(item, index) in listItems">
            {{ item }}
            <td><input id="checkbox" type="checkbox" value="item.completed" v-on:click="addItem(item)"></td>
            <td><p v-bind:class="(item)">{{ item.name }}</p></td>
            <!-- <td><img src="css/delete-button.png" alt="Delete Button" @click="deleteItem(index)"></td> -->
        </tr>
    </table>
</div>

<!-- {% for state in state_object %}
State: {{ state.state_name }} Rank: {{ state.tax_rank }} Effective Tax Burden: {{ state.tax_rate }}%<br><br>
{% endfor %} -->
{% endblock %}