{% extends 'etats/index.html' %}

{% block title %}Favorites{% endblock %}

{% block home %}"{% endblock %}
{% block weighted %} active" aria-current="page"{% endblock %}

{% block input %}{% endblock %}

{% block for %}
<div id="app">
    <table>
        <tr>
            <th>Weighted Rank</th>
            <th>State</th>
            <th>Times Saved</th>
        </tr>
        <tr v-for="(state, index) in favoritesList">
            <td>[[ index + 1 ]]</td>
            <td>[[ state.state_name ]]</td>
            <td>[[ state.count ]]</td>
        </tr>
    </table>
    <button @click="downloadPDF">Download as PDF</button>
</div>
{% endblock %}