{% extends 'etats/index.html' %}

{% load static %}

{% block title %}Favorites{% endblock %}

{% block index %}"{% endblock %}
{% block weighted %} active" aria-current="page"{% endblock %}

{% block instructions %}
<div class="categories">
    <div class="howto">
        <div class="howto-list">
            <h2>How to Use the Favorites Page</h2>
              <ul>
                  <li>The list below displays your saved states</li>
                  <li>The list is ordered by the number of saves per state (total categories)</li>
                  <li>The list is further ordered alphabetically</li>
                  <li>Download this list by clicking on the Download as PDF button</li>
                  <li>To see all categories for any individual state, navigate to the State Summary tab</li>
                  <li>Reminder:  Use the tabs to navigate between categories</li>
              </ul>
        </div>
        <img class="howto-img" src="{% static 'etats/you_are_here.jpeg' %}" alt="You are here in neon lights">
    </div>
</div>
{% endblock %}

{% block for %}
<div id="app">
    <table>
        <tr>
            <th>Weighted Rank</th>
            <th>State</th>
            <th>Times Saved</th>
        </tr>
        <tr v-for="(state, index) in favoritesList">
            <td>[[ index + 1 ]]</td>
            <td>[[ state.state_name ]]</td>
            <td>[[ state.count ]]</td>
        </tr>
    </table><br>
    <button class="btn btn-primary" @click="downloadPDF">Download as PDF</button><br><br>
</div>
{% endblock %}