body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(192, 191, 191);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
  
.header h1 {
    color: white;
    margin: 0;
}
  
.header h2 {
    color: white;
    margin: 0;
}
  
img {
    width: 100%;
    margin-top: 120px;
}

.nav-tabs {
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #333;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 10px 12px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li > a:hover {
    background-color: rgb(218, 215, 13);
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #555555;
    /* border: none; */
    border: 1px solid #ddd;
}  